/* Estilização do canvas */
#canvasContainer {
    position: relative;
}

#drawingCanvas,
#gridCanvas {
    border: 1px solid #000;
    position: absolute;
}



/* Estilização dos botões de ferramentas no final da página */
.tools {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.tools button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
}

/* Estilização do seletor de cores */
#colorPicker {
    vertical-align: middle;
}

/* Limpar margens e preenchimento padrão do corpo da página */
body {
    margin: 0;
    padding: 0;
}
